<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="vh100 grad70">
    <a href="register.html" type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
        <form class="container-flex-column text-center">
          <h1 class="title">Be Papanuel</h1>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <br>
          <br>
          <button type="submit" id="signup" class="btn btn-success" disabled> SignUp </button>
          </form>
      
        
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
          <script src="../js/signup.js"></script>
</html>